<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <TITLE>HBNB</TITLE>
    </HEAD>
    <BODY>
        {% if id %}
        <H1>State: {{ state_name }}</H1>
        <H3>Cities:</H3>
        <UL>
          {% for city in state_cities | sort(attribute='name') %}
          <LI>{{ city.id }}: <B>{{ city.name }}</B></LI>
          {% endfor %}
        </UL>
        {% else %}
        <H1>{{ tablename }}</H1>
        <UL>
          {% for id, name in states | dictsort(false, 'value') %}
          <LI>{{ id }}: <B>{{ name }}</B></LI>
          {% endfor %}
        </UL>
        {% endif %}
    </BODY>
</HTML>
